.sectionContainer::before {
    content: "";
    position: absolute;
    top: -3.5%;
    left: -3.5%;
    width: 107%;
    height: 107%;
    z-index: 0;

    background-image: url("/images/greetingSectionBackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: blur(3px) brightness(0.5);
    -webkit-filter: blur(3px) brightness(0.5);
}